.app-list {
    margin-top: 30px;
    background-color: #377d3f;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
    font-size: 18px;
}
.app-list td, .app-list th {
    padding: 5px;
}
.app-list__head {
    background-color: #377d3f;
    color: #fff;
    padding: 15px 20px;
    border-bottom: 1px solid #3d5a80;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media(max-width: 700px) {
    .app-list {
        font-size: 14px;
    }
}
@media(max-width: 400px) {
    .app-list {
        font-size: 12px;
    }
    .app-list__head {
        padding: 15px 10px
    }
}